---
import AstroIcon from "./icons/Astro.astro";
import TailwindIcon from "./icons/Tailwind.astro";
import LinkButton from "./LinkButton.astro";
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";

const TAGS = {
    ASTRO: {
        name: "Astro",
        class: "bg-[#4338ca] text-white",
        icon: AstroIcon,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        icon: TailwindIcon,
    },
};
const PROJECTS = [
    {
        title: "Porfolio Web",
        description:
            "Porfolio personal realizado con Astro y Tailwind CSS. Incluye información sobre mi, mis proyectos y cómo contactar conmigo.",
        link: "https://www.sdenis.tech",
        github: "https://github.com/sdeenis/portfolio",
        image: "img/projects/porfolio.webp",
        tags: [TAGS.ASTRO, TAGS.TAILWIND],
    },
];
---

<div class="flex flex-col gap-y-16">
{    
    PROJECTS.map(({ image, title, description, tags, github, link }) => (
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 flex-row mb-2">
                {tags.map((tag) => (
                    <li>
                        <span
                            class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-2 px-2`}
                        >
                            <tag.icon class="size-4" />
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <img
                src={image}
                alt={`Captura de pantalla del proyecto ${image}`}
                class="rounded shadow-2xl shadow-white/10"
            />
            <footer class="flex items-end justify-start mt-4 gap-x-4">
                {github && (
                    <LinkButton href={github}>
                        <GitHub class="size-6" />
                        Código fuente
                    </LinkButton>
                )}
                {link && (
                    <LinkButton href={link}>
                        <Link class="size-4" />
                        Demo
                    </LinkButton>
                )}
            </footer>
        </article>
    ))
}
</div>
